<div class="main-banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="main-banner-content">
                    <div class="podcast-image">
                        <img src="assets/images/main-banner/podcast-2.gif" alt="image">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis.</p>
                    <ul class="banner-info-list-with-btn d-flex align-items-center">
                        <li>
                            <a routerLink="/season-list" class="default-btn">
                                <i class="flaticon-headphones"></i> Listen Now
                            </a>
                        </li>
                        <li>
                            <span class="color-text">
                                Subscribe On:
                            </span>
                        </li>
                        <li class="list">
                            <a href="https://www.apple.com/apple-music/" target="_blank">
                                <i class="flaticon-apple-logo"></i> 
                                Apple Music
                            </a>
                        </li>
                        <li class="list">
                            <a href="https://www.spotify.com/" target="_blank">
                                <i class="flaticon-spotify"></i> 
                                Spotify
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="main-banner-image">
                    <img src="assets/images/main-banner/banner-three.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>