<footer class="footer-area pt-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <div class="widget-logo">
                        <a routerLink="/">
                            <img src="assets/images/logo.png" alt="image">
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget pl-10">
                    <h3>Start A Conversation</h3>
                    <ul class="widget-info">
                        <li>
                            <a href="mailto:hello@goca.com">
                                hello@goca.com
                            </a>
                        </li>
                        <li>
                            <a href="tel:+024567890">
                                +02345 67890
                            </a>
                        </li>
                        <li>
                            <a href="tel:+15143125678">
                                +1 (514) 312-5678
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <h3 class="color-text">Follow Us On:</h3>
                    <ul class="widget-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.spotify.com/" target="_blank">
                                <i class="flaticon-spotify"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://soundcloud.com/" target="_blank">
                                <i class="flaticon-soundcloud"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/apple-music/" target="_blank">
                                <i class="flaticon-apple-logo"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>© Goca is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
        </div>
    </div>
</footer>