<!-- Page Banner -->
<div class="page-banner-area bg-2 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Frequently Asked Question</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="faq-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="faq-accordion">
                    <accordion>
                        <accordion-group heading="Where Should You Look For Inspiration" [isOpened]="true">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum <strong>porta</strong>. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet <i>aliquam</i> vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </accordion-group>
                        <accordion-group heading="How To Craft Great Podcast Interview Questions?">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </accordion-group>
                        <accordion-group heading="What Do You Want To Learn?">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </accordion-group>
                        <accordion-group heading="Is It A Conversation You’d Eavesdrop Into?">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </accordion-group>
                        <accordion-group heading="What Do You Think Your Mission In Life Is?">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </accordion-group>
                        <accordion-group heading="What Are You Passionate About In Life?">
                            <p>Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel aliquet quam id dui posuere blandit <a routerLink="/contact">Contact Us</a>.</p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>