<div class="main-banner-episodes-area">
    <div class="container">
        <div class="main-banner-episodes-content">
            <h1>Watch New Episodes In Each Week</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus.</p>
            <ul class="banner-social">
                <li>
                    <a href="https://soundcloud.com/" target="_blank">
                        <i class="flaticon-soundcloud"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.spotify.com/" target="_blank">
                        <i class="flaticon-spotify"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="flaticon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com/" target="_blank">
                        <i class="flaticon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="flaticon-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/apple-music/" target="_blank">
                        <i class="flaticon-apple-logo"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="banner-episodes-slides">
            <owl-carousel-o [options]="bannerEpisodesSlides">
                <ng-template carouselSlide>
                    <div class="banner-episodes-card">
                        <a routerLink="/single-episode">
                            <img src="assets/images/banner-episodes/episodes-1.jpg" alt="image">
                        </a>
                        <ul class="list">
                            <li>
                                <span>8st Dec, 2021</span>
                            </li>
                            <li>
                                <span>Episode: 01</span>
                            </li>
                        </ul>
                        <div class="video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="banner-episodes-card">
                        <a routerLink="/single-episode">
                            <img src="assets/images/banner-episodes/episodes-2.jpg" alt="image">
                        </a>
                        <ul class="list">
                            <li>
                                <span>7st Dec, 2021</span>
                            </li>
                            <li>
                                <span>Episode: 02</span>
                            </li>
                        </ul>
                        <div class="video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="banner-episodes-card">
                        <a routerLink="/single-episode">
                            <img src="assets/images/banner-episodes/episodes-3.jpg" alt="image">
                        </a>
                        <ul class="list">
                            <li>
                                <span>6st Dec, 2021</span>
                            </li>
                            <li>
                                <span>Episode: 03</span>
                            </li>
                        </ul>
                        <div class="video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="banner-episodes-card">
                        <a routerLink="/single-episode">
                            <img src="assets/images/banner-episodes/episodes-4.jpg" alt="image">
                        </a>
                        <ul class="list">
                            <li>
                                <span>5st Dec, 2021</span>
                            </li>
                            <li>
                                <span>Episode: 04</span>
                            </li>
                        </ul>
                        <div class="video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="banner-episodes-card">
                        <a routerLink="/single-episode">
                            <img src="assets/images/banner-episodes/episodes-1.jpg" alt="image">
                        </a>
                        <ul class="list">
                            <li>
                                <span>4st Dec, 2021</span>
                            </li>
                            <li>
                                <span>Episode: 05</span>
                            </li>
                        </ul>
                        <div class="video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="banner-episodes-card">
                        <a routerLink="/single-episode">
                            <img src="assets/images/banner-episodes/episodes-2.jpg" alt="image">
                        </a>
                        <ul class="list">
                            <li>
                                <span>3st Dec, 2021</span>
                            </li>
                            <li>
                                <span>Episode: 06</span>
                            </li>
                        </ul>
                        <div class="video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="banner-episodes-card">
                        <a routerLink="/single-episode">
                            <img src="assets/images/banner-episodes/episodes-3.jpg" alt="image">
                        </a>
                        <ul class="list">
                            <li>
                                <span>2st Dec, 2021</span>
                            </li>
                            <li>
                                <span>Episode: 07</span>
                            </li>
                        </ul>
                        <div class="video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="banner-episodes-card">
                        <a routerLink="/single-episode">
                            <img src="assets/images/banner-episodes/episodes-4.jpg" alt="image">
                        </a>
                        <ul class="list">
                            <li>
                                <span>1st Dec, 2021</span>
                            </li>
                            <li>
                                <span>Episode: 08</span>
                            </li>
                        </ul>
                        <div class="video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>